@main("Studio Enterijer"){
  <section>
      <div class="container">
          <div class="row">
              <div class="col-md-3 margin-top10">
                  <h3>Dječije sobe</h3>
                  <p>
                      Namještaj za dječiju sobu treba biti multifunkcionalan, u skladu sa životnom dobi djeteta ali i njegovim potrebama. želja nam je da dijete bude srećno i zadovoljno kada vrijeme provodi u svojoj sobi. u našoj galeri možete pronaći inspiraciju a nama prepustite ostalo. Veliku  pažnju posvjećujemo sigurnosti Vaše djece kako upotrebom ekološki prihvatljivih materijala, tako i prilagođenim dizajnom, odnosno specifičnim konstruktivnim rješenjima. Za male prostorije moguća je dodatna ušteda prostora izradom i kombinovanjem djielova namještaja koji imaju višestruku funkciju.
                  </p>
              </div>
              <div class="col-md-8 col-md-offset-1 margin-top10" >
                  <div class="carousel-inner">
                      <div class="item active">
                          <div class="row" id="easyPaginate" >

                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680009/djecijesobe/2014-11-29_19.46.56.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680009/djecijesobe/2014-11-29_19.46.56.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456679985/djecijesobe/2014-12-03_21.17.47.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456679985/djecijesobe/2014-12-03_21.17.47.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456679986/djecijesobe/2014-12-03_21.18.07.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456679986/djecijesobe/2014-12-03_21.18.07.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680054/djecijesobe/2014-12-12_18.35.26.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680054/djecijesobe/2014-12-12_18.35.26.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680063/djecijesobe/2014-12-28_14.10.35.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680063/djecijesobe/2014-12-28_14.10.35.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456679955/djecijesobe/2014-12-28_14.10.49.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456679955/djecijesobe/2014-12-28_14.10.49.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680065/djecijesobe/2014-12-28_14.11.34.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680065/djecijesobe/2014-12-28_14.11.34.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680143/djecijesobe/IMG_20150630_170413.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680143/djecijesobe/IMG_20150630_170413.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680056/djecijesobe/IMG_20150630_171134.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680056/djecijesobe/IMG_20150630_171134.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680126/djecijesobe/IMG_20150630_171156.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680126/djecijesobe/IMG_20150630_171156.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680177/djecijesobe/IMG_20150630_171257.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680177/djecijesobe/IMG_20150630_171257.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680208/djecijesobe/IMG_20150723_100243.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680208/djecijesobe/IMG_20150723_100243.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680163/djecijesobe/IMG_20150723_100255.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680163/djecijesobe/IMG_20150723_100255.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680125/djecijesobe/IMG_20150831_084034.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680125/djecijesobe/IMG_20150831_084034.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680156/djecijesobe/IMG_20150930_155101.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680156/djecijesobe/IMG_20150930_155101.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680218/djecijesobe/IMG_20150930_155114.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680218/djecijesobe/IMG_20150930_155114.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680187/djecijesobe/IMG_20150930_155127.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680187/djecijesobe/IMG_20150930_155127.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680271/djecijesobe/IMG_20150930_155311.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680271/djecijesobe/IMG_20150930_155311.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680291/djecijesobe/IMG_20150930_155330.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680291/djecijesobe/IMG_20150930_155330.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680306/djecijesobe/IMG_20151026_180200.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680306/djecijesobe/IMG_20151026_180200.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680307/djecijesobe/IMG_20151026_180225.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680307/djecijesobe/IMG_20151026_180225.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680261/djecijesobe/IMG_20160105_183108.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680261/djecijesobe/IMG_20160105_183108.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680309/djecijesobe/IMG_20160112_172655.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680309/djecijesobe/IMG_20160112_172655.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680345/djecijesobe/IMG_20160112_172713.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680345/djecijesobe/IMG_20160112_172713.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680343/djecijesobe/WP_20150319_001.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680343/djecijesobe/WP_20150319_001.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680347/djecijesobe/WP_20150319_003.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680347/djecijesobe/WP_20150319_003.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680317/djecijesobe/WP_20150618_017.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680317/djecijesobe/WP_20150618_017.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1456680318/djecijesobe/WP_20150618_018.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1456680318/djecijesobe/WP_20150618_018.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div><!--/.item-->

                  </div>
                  <div style="text-align: center" id='page_navigation' class="pagination-custom"></div>
              </div>
          </div>
      </div>
  </section>

    <input type='hidden' id='current_page' />
    <input type='hidden' id='show_per_page' />

    <script src='@routes.Assets.versioned("javascripts/paginacija.js")'></script>


    <style>
    .pagination-custom a {
    font-family: "Lucida Sans","Lucida Grande",sans-serif;
    padding:9px;
    color: #204d74;


    }

    .pagination-custom a.current {
    font-weight:bold;
    text-decoration:underline;
    }

    .pagination-custom a:hover {
    background-color: #DEDEDE;
    color: #000;

    }
    </style>
}