@import model.Image
@main("Studio Enterijer"){
  <section>
      <div class="container">
          <div class="row">
              <div class="col-md-3 margin-top10">
                  <h3>Dječije sobe</h3>
                  <p>
                      Namještaj za dječiju sobu treba biti multifunkcionalan, u skladu sa životnom dobi djeteta ali i njegovim potrebama. želja nam je da dijete bude srećno i zadovoljno kada vrijeme provodi u svojoj sobi. u našoj galeri možete pronaći inspiraciju a nama prepustite ostalo. Veliku  pažnju posvjećujemo sigurnosti Vaše djece kako upotrebom ekološki prihvatljivih materijala, tako i prilagođenim dizajnom, odnosno specifičnim konstruktivnim rješenjima. Za male prostorije moguća je dodatna ušteda prostora izradom i kombinovanjem djielova namještaja koji imaju višestruku funkciju.
                  </p>
              </div>
              <div class="col-md-8 col-md-offset-1 margin-top10" >
                  <div class="carousel-inner">
                      <div class="item active">
                          <div class="row" id="easyPaginate" >
                          @for(image <- Image.djecijesobe()) {
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='@image' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='@image' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          }

                          </div>
                      </div><!--/.item-->

                  </div>

              </div>
          </div>
      </div>
  </section>


    <script>
    $('#easyPaginate').easyPaginate({
        paginateElement: '.picture',
        elementsPerPage: 6,
        effect:'climb'
        });
</script>
    <style>
    .easyPaginateNav a {
    font-family: "Lucida Sans","Lucida Grande",sans-serif;
    padding:9px;
    color: #204d74;


    }

    .easyPaginateNav a.current {
    font-weight:bold;
    text-decoration:underline;
    }

    .easyPaginateNav a:hover {
  background-color: #DEDEDE;
  color: #000;

  }
  </style>
}