@main("Studio Enterijer"){
  <section>
      <div class="container">
          <div class="row">
              <div class="col-md-3 margin-top10">
                  <h3>Dnevne sobe</h3>
                  <p>
                      Neka Vaša dnevna soba odiše pozitivnom energijom i udobnošću, toplinom i ukusom. Neka bude prilagođena svim ukućanima. Nama dopustite da je učinimo funkcionalnom i da njen izgled čini da se gosti osjećaju prijatno. Za Vas izrađujemo klub stolove,police,komode, TV stalke.... i to sve po mjeri i želji.
                  </p>
              </div>
              <div class="col-md-8 col-md-offset-1 margin-top10" >
                  <div class="carousel-inner">
                      <div class="item active">
                          <div class="row" id="easyPaginate" >

                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949375/dnevnesobe/WP_20150530_010.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949375/dnevnesobe/WP_20150530_010.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949331/dnevnesobe/WP_20150530_007.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949331/dnevnesobe/WP_20150530_007.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949336/dnevnesobe/WP_20150530_006.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949336/dnevnesobe/WP_20150530_006.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949271/dnevnesobe/Share2015-05-14-1972a9b1e2162588999b5ad891f68630422bae4718110321f69d95609c73c3a5-Picture.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949271/dnevnesobe/Share2015-05-14-1972a9b1e2162588999b5ad891f68630422bae4718110321f69d95609c73c3a5-Picture.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949273/dnevnesobe/Share2015-05-14-0513c9518c4533b2098a9ad7b54a587e53c308de74ea55ffe1a681fb76816b89-Picture.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949273/dnevnesobe/Share2015-05-14-0513c9518c4533b2098a9ad7b54a587e53c308de74ea55ffe1a681fb76816b89-Picture.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949343/dnevnesobe/IMG_20150921_142540.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949343/dnevnesobe/IMG_20150921_142540.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949412/dnevnesobe/IMAG1161.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949412/dnevnesobe/IMAG1161.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949415/dnevnesobe/IMAG1153.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949415/dnevnesobe/IMAG1153.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949418/dnevnesobe/IMAG1119.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949418/dnevnesobe/IMAG1119.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949418/dnevnesobe/IMAG1116.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949418/dnevnesobe/IMAG1116.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949419/dnevnesobe/IMAG0619.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949419/dnevnesobe/IMAG0619.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949398/dnevnesobe/IMAG0310.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949398/dnevnesobe/IMAG0310.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949396/dnevnesobe/IMAG0307.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949396/dnevnesobe/IMAG0307.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949367/dnevnesobe/IMAG0174.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949367/dnevnesobe/IMAG0174.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949402/dnevnesobe/DSC02411.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949402/dnevnesobe/DSC02411.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949400/dnevnesobe/2014-12-03_21.29.22.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949400/dnevnesobe/2014-12-03_21.29.22.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949397/dnevnesobe/2014-11-29_19.52.46.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949397/dnevnesobe/2014-11-29_19.52.46.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949389/dnevnesobe/2014-11-29_19.52.26.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949389/dnevnesobe/2014-11-29_19.52.26.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949348/dnevnesobe/2014-11-29_19.52.10.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949348/dnevnesobe/2014-11-29_19.52.10.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949343/dnevnesobe/2014-11-29_19.50.33.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949343/dnevnesobe/2014-11-29_19.50.33.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="picture">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="portfolio-item-gallery">
                                          <div class="item-inner">
                                              <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949319/dnevnesobe/2014-11-27_15.43.51.jpg' alt="" style="height: 200px">
                                              <div class="overlay">
                                                  <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949319/dnevnesobe/2014-11-27_15.43.51.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                          </div>
                      </div><!--/.item-->

                  </div>

              </div>
          </div>
      </div>
  </section>


    <script>
    $('#easyPaginate').easyPaginate({
        paginateElement: '.picture',
        elementsPerPage: 6,
        effect:'climb'
        });
</script>
    <style>
    .easyPaginateNav a {
    font-family: "Lucida Sans","Lucida Grande",sans-serif;
    padding:9px;
    color: #204d74;


    }

    .easyPaginateNav a.current {
    font-weight:bold;
    text-decoration:underline;
    }

    .easyPaginateNav a:hover {
    background-color: #DEDEDE;
    color: #000;

    }
    </style>
}