@main("Studio Enterijer"){
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3 margin-top10">
          <h3>Kancelarijski namještaj</h3>
          <p>
            Takođe spada u izradu namještaja po mjeri. Bitno je voditi računa o materijalima od kojeg je izrađen ali i o kvalitetu. Sve to kako bi poslovanje bilo na optimalnom nivou. izrađujemo:
          </p>
          <li>Radne stolove</li>

          <li>Komode</li>

          <li>Plakare</li>

        </div>
        <div class="col-md-8 col-md-offset-1 margin-top10" >
          <div class="carousel-inner">
            <div class="item active">
              <div class="row" id="easyPaginate" >
                <div class="picture">
                  <div class="col-md-12">
                    <h2>En Style</h2>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/EnStyle/IMAG0981.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/poslovniprostori/EnStyle/IMAG0981.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12" >
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/EnStyle/IMAG0984.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/poslovniprostori/EnStyle/IMAG0984.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/EnStyle/IMAG0985.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/poslovniprostori/EnStyle/IMAG0985.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/4.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/gallery/4.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/EnStyle/IMAG0989.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/poslovniprostori/EnStyle/IMAG0989.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/EnStyle/IMAG0994.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/poslovniprostori/EnStyle/IMAG0994.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/EnStyle/IMAG1010.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/poslovniprostori/EnStyle/IMAG1010.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              <div class="row " id="easyPaginate" >
                <div class="picture">
                  <div class="col-md-12">
                    <h2>Optika Durak</h2>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-19%2008.56.54.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-19%2008.56.54.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12" >
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-19%2008.57.30.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-19%2008.57.30.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-22%2009.53.06.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-22%2009.53.06.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-30%2018.09.55.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-30%2018.09.55.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-30%2018.10.08.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-30%2018.10.08.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-30%2018.10.38.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-30%2018.10.38.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-30%2018.11.04.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-30%2018.11.04.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-31%2010.35.15.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-31%2010.35.15.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-31%2010.35.20.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-01-31%2010.35.20.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-02-02%2018.16.42.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/poslovniprostori/optikaDurak/2015-02-02%2018.16.42.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              <div class="row" id="easyPaginate" >
                <div class="picture">
                <div class="col-md-12">
                  <h2>Osnovna.ba</h2>
                </div>
                  </div>

                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/osnovnaBa/WP_20150623_001.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/poslovniprostori/osnovnaBa/WP_20150623_001.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/osnovnaBa/WP_20150623_002.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/poslovniprostori/osnovnaBa/WP_20150623_002.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/poslovniprostori/osnovnaBa/WP_20150623_003.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/poslovniprostori/osnovnaBa/WP_20150623_003.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div><!--/.item-->

          </div>

        </div>
      </div>
    </div>
  </section>


  @*<script>*@
    @*$('#easyPaginate').easyPaginate({*@
        @*paginateElement: '.picture',*@
        @*elementsPerPage: 6,*@
        @*effect:'climb'*@
        @*});*@
@*</script>*@
  <style>
  .easyPaginateNav a {
  font-family: "Lucida Sans","Lucida Grande",sans-serif;
  padding:9px;
  color: #204d74;


  }

  .easyPaginateNav a.current {
  font-weight:bold;
  text-decoration:underline;
  }

  .easyPaginateNav a:hover {
  background-color: #DEDEDE;
  color: #000;

  }
  </style>
}