@main("Studio Enterijer"){
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 margin-top10">
                    <h3>Kancelarijski namještaj</h3>
                    <p>
                        Takođe spada u izradu namještaja po mjeri. Bitno je voditi računa o materijalima od kojeg je izrađen ali i o kvalitetu. Sve to kako bi poslovanje bilo na optimalnom nivou. izrađujemo:
                    </p>
                    <li>Radne stolove</li>

                    <li>Komode</li>

                    <li>Plakare</li>

                </div>
                <div class="col-md-8 col-md-offset-1 margin-top10" >
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row" id="easyPaginate" >
                                <div class="picture">
                                    <div class="col-md-12">
                                        <h2>En Style</h2>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953281/poslovniprostori/enstyle/IMAG1010.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457953281/poslovniprostori/enstyle/IMAG1010.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12" >
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953279/poslovniprostori/enstyle/IMAG0994.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457953279/poslovniprostori/enstyle/IMAG0994.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953273/poslovniprostori/enstyle/IMAG0989.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457953273/poslovniprostori/enstyle/IMAG0989.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953279/poslovniprostori/enstyle/IMAG0985.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457953279/poslovniprostori/enstyle/IMAG0985.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953274/poslovniprostori/enstyle/IMAG0984.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457953274/poslovniprostori/enstyle/IMAG0984.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953277/poslovniprostori/enstyle/IMAG0981.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger"  href='http://res.cloudinary.com/enterijer/image/upload/v1457953277/poslovniprostori/enstyle/IMAG0981.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row " id="easyPaginate" >
                                <div class="picture">
                                    <div class="col-md-12">
                                        <h2>Optika Durak</h2>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953619/poslovniprostori/optikadurak/2015-01-19_08.56.54.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457953619/poslovniprostori/optikadurak/2015-01-19_08.56.54.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12" >
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953616/poslovniprostori/optikadurak/2015-01-19_08.57.30.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457953616/poslovniprostori/optikadurak/2015-01-19_08.57.30.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953635/poslovniprostori/optikadurak/2015-01-22_09.53.06.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457953635/poslovniprostori/optikadurak/2015-01-22_09.53.06.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953633/poslovniprostori/optikadurak/2015-01-30_18.09.55.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger"  href='http://res.cloudinary.com/enterijer/image/upload/v1457953633/poslovniprostori/optikadurak/2015-01-30_18.09.55.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953623/poslovniprostori/optikadurak/2015-01-30_18.10.08.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger"  href='http://res.cloudinary.com/enterijer/image/upload/v1457953623/poslovniprostori/optikadurak/2015-01-30_18.10.08.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953639/poslovniprostori/optikadurak/2015-01-30_18.10.38.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger"  href='http://res.cloudinary.com/enterijer/image/upload/v1457953639/poslovniprostori/optikadurak/2015-01-30_18.10.38.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953652/poslovniprostori/optikadurak/2015-01-30_18.11.04.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger"  href='http://res.cloudinary.com/enterijer/image/upload/v1457953652/poslovniprostori/optikadurak/2015-01-30_18.11.04.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953668/poslovniprostori/optikadurak/2015-01-31_10.35.15.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger"  href='http://res.cloudinary.com/enterijer/image/upload/v1457953668/poslovniprostori/optikadurak/2015-01-31_10.35.15.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953662/poslovniprostori/optikadurak/2015-01-31_10.35.20.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger"  href='http://res.cloudinary.com/enterijer/image/upload/v1457953662/poslovniprostori/optikadurak/2015-01-31_10.35.20.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953679/poslovniprostori/optikadurak/2015-02-02_18.16.42.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger"  href='http://res.cloudinary.com/enterijer/image/upload/v1457953679/poslovniprostori/optikadurak/2015-02-02_18.16.42.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="easyPaginate" >
                                <div class="picture">
                                    <div class="col-md-12">
                                        <h2>Osnovna.ba</h2>
                                    </div>
                                </div>

                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953953/poslovniprostori/osnovna/WP_20150623_001.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger"  href='http://res.cloudinary.com/enterijer/image/upload/v1457953953/poslovniprostori/osnovna/WP_20150623_001.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953954/poslovniprostori/osnovna/WP_20150623_002.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger"  href='http://res.cloudinary.com/enterijer/image/upload/v1457953954/poslovniprostori/osnovna/WP_20150623_002.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953954/poslovniprostori/osnovna/WP_20150623_003.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger"  href='http://res.cloudinary.com/enterijer/image/upload/v1457953954/poslovniprostori/osnovna/WP_20150623_003.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div><!--/.item-->

                    </div>

                </div>
            </div>
        </div>
    </section>

}