@import model.Image
@main("Studio Enterijer"){
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 margin-top10">
                    <h3>Kuhinje</h3>
                    <p>Kuhinje po mjeri u potpunosti su prilagođene zahtjevima prostora, kao i specifičnim željama korisnika vezanih uz boje, obradu i vrstu materijala,kvalitetu okova, veličinu i položaj elemenata, te svih funkcionalnih i dekorativnih detalja.

                        U ponudi imamo različite stilove kuhinja po mjeri (moderne, rustikalne i klasične), izrađene od različitih materijala( iverala, akrila, mediapana i masivnog drveta). Kuhinjske elemente možemo prilagoditi svakom prostoru i željama kupaca. Prilikom izrade kuhinja koristimo materijale i okove renomiranih svjetskih proizvođača. Ugrađujemo odgovarajuće slavine i sudopere od različitih materijala po Vašem izboru. Ukoliko ste se odlučili za izradu kuhinje po mjeri, naše dugogodišnje iskustvo i brojni zadovoljni klijenti garancija su da ste na pravoj a Ukoliko ste se odlučili za izradu kuhinje po mjeri, naše dugogodišnje iskustvo i brojni zadovoljni klijenti garancija su da ste na pravoj adresi.</p>
                </div>
                <div class="col-md-8 col-md-offset-1 margin-top10" >
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row" id="easyPaginate" >
                                @for(image <- Image.kuhinje()) {
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="@image" alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@image' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               }



                            </div>
                        </div><!--/.item-->

                    </div>

                </div>
            </div>
        </div>
    </section>


    <script>
    $('#easyPaginate').easyPaginate({
        paginateElement: '.picture',
        elementsPerPage: 6,
        effect:'climb'
        });
</script>
    <style>
    .easyPaginateNav a {
    font-family: "Lucida Sans","Lucida Grande",sans-serif;
    padding:9px;
        color: #204d74;


    }

    .easyPaginateNav a.current {
    font-weight:bold;
    text-decoration:underline;
    }

    .easyPaginateNav a:hover {
    background-color: #DEDEDE;
    color: #000;

    }
    </style>
}