@import model.Image
@main("Studio Enterijer"){
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 margin-top10">
                    <h3>Kupatilski namještaj</h3>
                    <p>
                        Obzirom da je reč o namještaju koji je često malih gabarita i nepravilnog oblika, a da mora da odgovori na zahtjeve vlažne sredine i intenzivne upotrebe, važno je da izboru kupatilskog nameštaja posvetite posebnu pažnju i da projektovanje i izradu povjerite iskusnim profesionalcima.

                        Svojim konceptom pravljenja nameštaja po mjeri uspješno rešava probleme uklapanja sa postojećim ambijentom i sanitarijama, odnosno tehnikom.

                        Prema Vašoj želji kupatilski nameštaj koji pravimo može biti opremljen najsavremenijom LED rasvjetom i pratećom opremom (senzori na pokret, bežični prekidači, prigušivači osvjetljenja).
                    </p>

                </div>
                <div class="col-md-8 col-md-offset-1 margin-top10" >
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row" id="easyPaginate" >
                            @for(image <- Image.kupaonickinamjestaj()) {
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@image' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@image' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            </div>
                        </div><!--/.item-->

                    </div>

                </div>
            </div>
        </div>
    </section>


    <script>
    $('#easyPaginate').easyPaginate({
        paginateElement: '.picture',
        elementsPerPage: 6,
        effect:'climb'
        });
</script>
  <style>
  .easyPaginateNav a {
  font-family: "Lucida Sans","Lucida Grande",sans-serif;
  padding:9px;
  color: #204d74;


  }

  .easyPaginateNav a.current {
  font-weight:bold;
  text-decoration:underline;
  }

  .easyPaginateNav a:hover {
  background-color: #DEDEDE;
  color: #000;

  }
  </style>
}