@main("Studio Enterijer"){
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 margin-top10">
                    <h3>Kupatilski namještaj</h3>
                    <p>
                        Obzirom da je reč o namještaju koji je često malih gabarita i nepravilnog oblika, a da mora da odgovori na zahtjeve vlažne sredine i intenzivne upotrebe, važno je da izboru kupatilskog nameštaja posvetite posebnu pažnju i da projektovanje i izradu povjerite iskusnim profesionalcima.

                        Svojim konceptom pravljenja nameštaja po mjeri uspješno rešava probleme uklapanja sa postojećim ambijentom i sanitarijama, odnosno tehnikom.

                        Prema Vašoj želji kupatilski nameštaj koji pravimo može biti opremljen najsavremenijom LED rasvjetom i pratećom opremom (senzori na pokret, bežični prekidači, prigušivači osvjetljenja).
                    </p>

                </div>
                <div class="col-md-8 col-md-offset-1 margin-top10">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row" id="easyPaginate" >

                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457951536/kupatilo/IMAG0646.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457951536/kupatilo/IMAG0646.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457951541/kupatilo/IMAG0647.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457951541/kupatilo/IMAG0647.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457951540/kupatilo/IMAG0649.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457951540/kupatilo/IMAG0649.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457951573/kupatilo/IMG_20151127_081800.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457951573/kupatilo/IMG_20151127_081800.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457951574/kupatilo/IMG_20151127_081811.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457951574/kupatilo/IMG_20151127_081811.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457951560/kupatilo/IMG_20151127_081821.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457951560/kupatilo/IMG_20151127_081821.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457951570/kupatilo/IMG_20151127_081835.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457951570/kupatilo/IMG_20151127_081835.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}