@import model.Image
@main("Studio Enterijer"){
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 margin-top10">
                    <h3>Američki plakari</h3>
                    <p>
                        Američke plakare radimo od zida do zida i od poda do plafona.
                        Trudimo se da iskoristimo svaki cm,kako bi i najmanja sitnica pronašla svoje mjesto.
                        Poštujemo vaše želje, stil i potrebu za kvalitetom. Sami birate izgled, boju i teksturu.
                        Organizacija unutrašnjosti plakara, odnosno, raspored i broj ladica, polica, garderobnih šipki,
                        liftova za garderobu, pantalonarnika, kravatarnika,
                        cipelarnika i slično isključivo zavisi od Vaših konkretnih potreba za odlaganjem stvari i namjene plakara.
                        Klizna vrata možete poručiti i kao poseban proizvod,
                        za pregrađivanje prostorija ili maskiranje postojećih ormara.
                        Ispune na kliznim vratima mozemo raditi i kao ogledalo,staklo te iste napraviti od kože,tapete ili tekstila.
                    </p>
                </div>
                <div class="col-md-8 col-md-offset-1 margin-top10" >
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row" id="easyPaginate" >
                                @for(image <- Image.amplakari()) {
                                <div class="picture">
                                    <div class="col-md-4 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">

                                                <img class="img-responsive" src='@image' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@image' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }

                            </div>
                        </div><!--/.item-->

                    </div>

                </div>
            </div>
        </div>
    </section>


    <script>
    $('#easyPaginate').easyPaginate({
        paginateElement: '.picture',
        elementsPerPage: 6,
        effect:'climb'
        });
    </script>
    <style>
    .easyPaginateNav a {
    font-family: "Lucida Sans","Lucida Grande",sans-serif;
    padding:9px;
    color: #204d74;


    }

    .easyPaginateNav a.current {
    font-weight:bold;
    text-decoration:underline;
    }

    .easyPaginateNav a:hover {
    background-color: #DEDEDE;
    color: #000;

    }
    </style>
}
