@main("Studio Enterijer"){
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3 margin-top10">
          <h3>Predsoblje</h3>
          <p>
            Predsoblje je prostorija sa kojom se Vi i Vaši gosti prvo susrećete. Zato je izuzetno bitno da bude funkcionalno i lijepo. Cipelarnici, čiviluci i klupe za sjedenje su samo neki od komada namještaja koji Vam u mnogome mogu olakšati svakodnevnicu. U poređenju sa drugim nameštajem u stanu, oni su  često neopravdano zanemareni, iako su veoma značajani u svakom domu  za opštu higijenu i urednost.
          </p>
        </div>
        <div class="col-md-8 col-md-offset-1 margin-top10" >
          <div class="carousel-inner">
            <div class="item active">
              <div class="row" id="easyPaginate" >
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/1.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/gallery/1.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12" >
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/2.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/gallery/2.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/3.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/gallery/3.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/4.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/gallery/4.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/5.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/gallery/5.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/6.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/gallery/6.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/7.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/gallery/7.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/8.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/gallery/8.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12" >
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/9.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/gallery/9.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/10.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/gallery/10.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/11.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/gallery/11.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-4 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/gallery/12.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/gallery/12.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div><!--/.item-->

          </div>

        </div>
      </div>
    </div>
  </section>


  <script>
    $('#easyPaginate').easyPaginate({
        paginateElement: '.picture',
        elementsPerPage: 6,
        effect:'climb'
        });
</script>
  <style>
  .easyPaginateNav a {
  font-family: "Lucida Sans","Lucida Grande",sans-serif;
  padding:9px;
  color: #204d74;


  }

  .easyPaginateNav a.current {
  font-weight:bold;
  text-decoration:underline;
  }

  .easyPaginateNav a:hover {
  background-color: #DEDEDE;
  color: #000;

  }
  </style>
}