@main("Studio Enterijer"){
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 margin-top10">
                    <h3>Spavaće sobe</h3>
                    <p>
                        Dopustite nam da u Vašoj sobi za spavanje spavate mirnim snom i sanjate najljepše snove. Za Vas izrađujemo:
                    </p>
                    <li>Krevete</li>

                    <li>Noćne ormariće</li>

                    <li>Tooaletne stolove</li>

                    <li>Garderobere</li>

                </div>
                <div class="col-md-8 col-md-offset-1 margin-top10" >
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row" id="easyPaginate" >
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/spavacesobe/IMG_20150831_084015.jpg")' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/spavacesobe/IMG_20150831_084015.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12" >
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/spavacesobe/IMG_20150831_084041.jpg")' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/spavacesobe/IMG_20150831_084041.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/spavacesobe/s1.jpg")' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/spavacesobe/s1.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/spavacesobe/s2.jpg")' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/spavacesobe/s2.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!--/.item-->

                    </div>

                </div>
            </div>
        </div>
    </section>


    <script>
    $('#easyPaginate').easyPaginate({
        paginateElement: '.picture',
        elementsPerPage: 6,
        effect:'climb'
        });
</script>
    <style>
    .easyPaginateNav a {
    font-family: "Lucida Sans","Lucida Grande",sans-serif;
    padding:9px;
    color: #204d74;


    }

    .easyPaginateNav a.current {
    font-weight:bold;
    text-decoration:underline;
    }

    .easyPaginateNav a:hover {
    background-color: #DEDEDE;
    color: #000;

    }
    </style>
}