@main("Studio Enterijer"){
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 margin-top10" style="text-align: center">
                    <h1>Dekorativni kamen</h1>
                </div>
                <div class="col-md-12 margin-top10"  style="margin-bottom: 100px">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row" id="easyPaginate" >
                                <div class="picture">
                                    <div class="col-md-3 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/dekorativnikamen/dkamen1.jpg")' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/dekorativnikamen/dkamen1.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-3 col-xs-12" >
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/dekorativnikamen/dkamen2.jpg")' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/dekorativnikamen/dkamen2.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="picture">
                                    <div class="col-md-3 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/dekorativnikamen/dkamen5.jpg")' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/dekorativnikamen/dkamen5.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-3 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/dekorativnikamen/dkamen6.jpg")' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger"  href='@routes.Assets.versioned("images/dekorativnikamen/dkamen6.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!--/.item-->

                    </div>

                </div>
            </div>
        </div>
    </section>

}