@main("Studio Enterijer"){
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 margin-top10">
                    <h3>Podne obloge</h3>
                    <p>
                        Podne obloge su jedna od važnijih stavki u uređenju interijera i to prvenstveno zato što moraju zadovoljiti kriterij funkcionalnosti, ali jednako tako i kriterij estetike jer su upravo one velike površine koje dominiraju u interijeru.  Na Vama je da izaberete da li ce to biti parket, laminat i keramicke plocice, a postavljanje prepustite nama!
                    </p>
                </div>
                <div class="col-md-8 col-md-offset-1 margin-top10" >
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row" id="easyPaginate" >
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953021/podneObloge/pod3.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457953021/podneObloge/pod3.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12" >
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953021/podneObloge/pod2.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457953021/podneObloge/pod2.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953021/podneObloge/pod1.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457953021/podneObloge/pod1.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457953021/podneObloge/pod.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457953021/podneObloge/pod.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!--/.item-->

                    </div>

                </div>
            </div>
        </div>
    </section>

}