@main("Studio Enterijer"){
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 margin-top10">
                    <h3>Rigips</h3>
                    <p>
                        Kvalitetno s dugogodišnjim iskustvom i pristupačnim cijenama izvodimo sve vrste spuštenih stropova i pregradnih zidova od rigipsa. Spušteni plafoni su odlično rešenje ukoliko želimo da sakrijemo električne vodove, instalacije ili ventilacione kanale. Postoje razne vrste i oblici spuštenih plafona, mogu biti slojeviti, u obliku luka, zaobljeni. U njih možete postaviti rasvjetu po izboru.
                        Ako gips pločama obložimo već postojeće unutrašnje zidove, na najjednostavniji i ne tako skup način napravićemo jako dobru izolaciju. Pored toga što ćemo znatno poboljšati toplotnu izolaciju na ovaj način izvršićemo adaptaciju zidova, saniraćemo oštećenja, poravnati i sakriti neravnine i rupe u zidovima kao i smanjiti buku koja dopire spolja.
                        Prednost ovih radova je to što nije potrebna prethodna priprema, ploče se jednostavno postavljaju, ne morate čekati da se materijal osuši, ekološki je potpuno bezbedan, poboljšava zvučnu a povećava toplotnu izolaciju.
                    </p>
                </div>
                <div class="col-md-8 col-md-offset-1 margin-top10" >
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row" id="easyPaginate" >
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/rigips/rigips1.jpeg")' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/rigips/rigips1.jpeg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12" >
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/rigips/rigips2.jpg")' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/rigips/rigips2.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/rigips/rigips3.jpg")' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/rigips/rigips3.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='@routes.Assets.versioned("images/rigips/rigips4.jpg")' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/rigips/rigips4.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!--/.item-->

                    </div>

                </div>
            </div>
        </div>
    </section>



}