@main("Studio Enterijer"){
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 margin-top10">
                    <h3>Tapete</h3>
                    <p>
                        Bavimo se postavljanjem svih vrsta tapeta. Bilo da su uklapajuce, neuklapajuce, foto-tapeta...  Ovo je ujedno i najbrzi nacin da svom domu dodate dašak luksuza i originalnosti.
                    </p>
                </div>
                <div class="col-md-8 col-md-offset-1 margin-top10" >
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row" id="easyPaginate" >

                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949889/dnevnesobe/tapeta/tapeta1.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949889/dnevnesobe/tapeta/tapeta1.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949891/dnevnesobe/tapeta/tapeta2.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949891/dnevnesobe/tapeta/tapeta2.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949891/dnevnesobe/tapeta/tapeta3.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949891/dnevnesobe/tapeta/tapeta3.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949938/dnevnesobe/tapeta/tapeta4.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949938/dnevnesobe/tapeta/tapeta4.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949887/dnevnesobe/tapeta/tapeta5.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949887/dnevnesobe/tapeta/tapeta5.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949892/dnevnesobe/tapeta/tapeta6.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949892/dnevnesobe/tapeta/tapeta6.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949938/dnevnesobe/tapeta/tapeta7.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949938/dnevnesobe/tapeta/tapeta7.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949939/dnevnesobe/tapeta/WP_20150511_002.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949939/dnevnesobe/tapeta/WP_20150511_002.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949938/dnevnesobe/tapeta/tapeta8.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949938/dnevnesobe/tapeta/tapeta8.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="portfolio-item-gallery">
                                            <div class="item-inner">
                                                <img class="img-responsive" src='http://res.cloudinary.com/enterijer/image/upload/v1457949928/dnevnesobe/tapeta/WP_20150511_003.jpg' alt="" style="height: 200px">
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" href='http://res.cloudinary.com/enterijer/image/upload/v1457949928/dnevnesobe/tapeta/WP_20150511_003.jpg' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!--/.item-->

                    </div>
                    <div style="text-align: center" id='page_navigation' class="pagination-custom"></div>
                </div>
            </div>
        </div>
    </section>
    <input type='hidden' id='current_page' />
    <input type='hidden' id='show_per_page' />

    <script src='@routes.Assets.versioned("javascripts/paginacija4.js")'></script>


    <style>
    .pagination-custom a {
    font-family: "Lucida Sans","Lucida Grande",sans-serif;
    padding:9px;
    color: #204d74;


    }

    .pagination-custom a.current {
    font-weight:bold;
    text-decoration:underline;
    }

    .pagination-custom a:hover {
    background-color: #DEDEDE;
    color: #000;

    }
    </style>
}