@main("Studio Enterijer") {

    <div class="container">
        <div class="row">
            <div class="margin-top70 margin-bottom50">
                <div class="margin-bottom50">
                    <h1>HDF Lesonit</h1>

                </div>


                <div class="col-md-12 text-center margin-bottom50">
                    <img src="@routes.Assets.versioned("images/hdf.jpg")">
                </div>

                <div class="com-md-12 margin-bottom50">
                    <h3>
                        Tanak, lagan i izuzetno tvrd materijal, lesonit ili HDF,
                        u postupku proizvodnje namještaja najčešće služi za izradu poleđine sastavljenih elemenata i unutrašnjih dijelova ladica.
                    </h3>
                </div>

            </div>
        </div>
    </div>

}