@main("Studio Enterijer"){
    <div class="container">
        <div class="row">
            <div class="margin-top70" style="margin-bottom: 500px">

                <div class="col-md-6">
                    <img src="@routes.Assets.versioned("images/kerocck/kerock.png")">
                </div>

                <div class="col-md-6">
                    <img src="@routes.Assets.versioned("images/kerocck/dupont-logo.png")">
                </div>

            </div>
        </div>
    </div>

}