@main("Studio Enterijer"){

  <div class="container">
    <div class="row">
      <div class="margin-top70 margin-bottom30">
      <h1>Medijapan</h1>

      <article>
        Svakodnevno se susrećemo sa pitanjima oko odabira materijala prilikom izrade namještaja po mjeri,
        naročito ako se radi o kuhinjama ili kuhinjskim elemenata.
        Hit među najatraktivnijim materijalima za izradu namještaja, jeste svakako popularni medijapan.
      </article>
      <article>
        Naime, medijapan ili MDF ploča se dobija presanjem drvne prašine, drvnih strugotina i ljepila,
        a površina se obrađuje brušenjem, a zatim i višeslojnim lakiranjem.
        Zbog korištenja finih vlakana drveta, ima glatku površinu.
        Zahvaljujući svom elegantnom izgledu, medijapan iz upotrebe polako istiskuje namještaj od iverice,
        koji je klasičan za skoro sva domaćinstva.
      </article>

        <div class="col-md-12 " >
          <div class="carousel-inner">
            <div class="item active">
              <div class="row" id="easyPaginate" >
                <div class="picture">
                  <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <div class="portfolio-item-gallery">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/medijapan/medijapan1.jpg")' alt="" style="height: 400px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/medijapan/medijapan1.jpg")' rel=""><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        <div class="margin-top20">
          <article>
            Zbog svojih karakteristika, koristi se  kod elemenata koji zahtijevaju otpornost na vlagu,habanje i čvrstoću.
            Naime, sam materijal je veće gustine, pa je samim tim i čvršći.
            Spada u grupu novijih materijala, a zbog svog visokog nivoa obradivosti, postoji vatro i vlago-otporni medijapan.
          </article>
          <article>
            Izbor boja koje želite je zaista neograničen.
            Lakirani medijapan je dostupan u zapanjujuće širokoj kolorističkoj paleti.
            Da bi sve to izgledalo još savršenije, elementi ovog namještaja izrađuju se sa mnogim dizajnerskim detaljima.
          </article>
        </div>
        <div class="col-md-12 " >
          <div class="carousel-inner">
            <div class="item active">
              <div class="row" id="easyPaginate" >
                <div class="picture">
                  <div class="col-md-3 col-xs-12" >
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/medijapan/medijapan2.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/medijapan/medijapan2.jpg")' rel=""><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-3 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/medijapan/medijapan3.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/medijapan/medijapan3.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-3 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/medijapan/medijapan4.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/medijapan/medijapan4.jpg")' rel=""><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="picture">
                  <div class="col-md-3 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <div class="item-inner">
                        <img class="img-responsive" src='@routes.Assets.versioned("images/medijapan/medijapan5.jpg")' alt="" style="height: 200px">
                        <div class="overlay">
                          <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/medijapan/medijapan5.jpg")' rel=""><i class="icon-eye-open"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!--/.item-->

          </div>

        </div>

        <div class="margin-top20">
          <article>
            Čišćenje medijapana je malo zahtjevnije nego čišćenja namještaja od klasične iverice.
            Naime, preporučuje se da koristite pamučnu tkaninu i bezalkoholna sredstva.
            Medijapan zasigurno predstavlja jedan od najkvalitetnijih materijala za izradu namještaja po mjeri.
            Bez obzira da li ćete se odlučiti za visoki sjaj ili mat, medijapan, vrhunski materijal za izradu namještaja ,
            garantuje kvalitet, a lakirana površina atraktivni izgled.
          </article>
        </div>

        <div class="col-md-12 " >
          <div class="carousel-inner">
            <div class="item active">
              <div class="row" id="easyPaginate" >
                <div class="picture">
                  <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <div class="portfolio-item-gallery">
                      <img class="img-responsive" src='@routes.Assets.versioned("images/medijapan/medijapan6.jpg")' alt="" style="height: 400px">
                      <div class="overlay">
                        <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/medijapan/medijapan6.jpg")' rel=""><i class="icon-eye-open"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="margin-top20 margin-bottom30">
          <article>
            Ovaj materijal polako preuzima primat u izradi kuhinja, kancelarijskog i dječijeg namještaja,
            te je kao takav postao hit u opremanju enterijera naših domova.
            Da li je namještaj od medijapana za vas, to je na vama da odlučite,
            ali jedno je sigurno – njegov visoki sjaj upućuje na luksuz, finoću i eleganciju
          </article>
        </div>
      </div>
    </div>
  </div>

}