@main("Studio Enterijer"){
    <section>
        <div class="row" style="margin-left: 10%; margin-right: 10%" >
            <div class="radneploce">
                <h1>Odaberite dezen radne ploče, zapišite šifru i javite nam!</h1>
            </div>
            <div class="col-md-12 " >
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row" id="easyPaginate" >
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Alpine_Oak_Snow_K4325_AW1.jpg")' alt="" style="height: 200px">
                                            <h5>Alpine_Oak_Snow_K4325_AW1</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Alpine_Oak_Snow_K4325_AW1.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/amarello-rose-39580.jpg")' alt="" style="height: 200px">
                                            <h5>amarello-rose-39580</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/amarello-rose-39580.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/arctic-47980.jpg")' alt="" style="height: 200px">
                                            <h5>arctic-47980</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/arctic-47980.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Arizona_Pine_34232_AT.jpg")' alt="" style="height: 200px">
                                            <h5>Arizona_Pine_34232_AT</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Arizona_Pine_34232_AT.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/ash-coimbra-37777.jpg")' alt="" style="height: 200px">
                                            <h5>ash-coimbra-37777</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/ash-coimbra-37777.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Bartholo_Spurce_K4338_AT.jpg")' alt="" style="height: 200px">
                                            <h5>Bartholo_Spurce_K4338_AT</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Bartholo_Spurce_K4338_AT.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/beech-3381-pr.jpg")' alt="" style="height: 200px">
                                            <h5>beech-3381-pr</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/beech-3381-pr.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/beech-carasso-37542.jpg")' alt="" style="height: 200px">
                                            <h5>beech-carasso-37542</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/beech-carasso-37542.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/casablanca-white-3458.jpg")' alt="" style="height: 200px">
                                            <h5>casablanca-white-3458</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/casablanca-white-3458.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Cashmir_27049_DP.jpg")' alt="" style="height: 200px">
                                            <h5>Cashmir_27049_DP</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Cashmir_27049_DP.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Chalet_Oak_35252_AT.jpg")' alt="" style="height: 200px">
                                            <h5>Chalet_Oak_35252_AT</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Chalet_Oak_35252_AT.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/concrete-art-37905.jpg")' alt="" style="height: 200px">
                                            <h5>concrete-art-37905</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/concrete-art-37905.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Corona_Ash_Diamond_K4330_RC.jpg")' alt="" style="height: 200px">
                                            <h5>Corona_Ash_Diamond_K4330_RC</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Corona_Ash_Diamond_K4330_RC.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/cyanite-37982.jpg")' alt="" style="height: 200px">
                                            <h5>cyanite-37982</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/cyanite-37982.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Denver_Oak_34234_AT.jpg")' alt="" style="height: 200px">
                                            <h5>Denver_Oak_34234_AT</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Denver_Oak_34234_AT.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/elm-37965-nm.jpg")' alt="" style="height: 200px">
                                            <h5>elm-37965-nm</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/elm-37965-nm.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Fog_Grey_27060_DP.jpg")' alt="" style="height: 200px">
                                            <h5>Fog_Grey_27060_DP</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Fog_Grey_27060_DP.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/grainy-grau-4969.jpg")' alt="" style="height: 200px">
                                            <h5>grainy-grau-4969</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/grainy-grau-4969.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/grainy-white.jpg")' alt="" style="height: 200px">
                                            <h5>grainy-white</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/grainy-white.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/granite-anthracite-4288.jpg")' alt="" style="height: 200px">
                                            <h5>granite-anthracite-4288</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/granite-anthracite-4288.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/grey-ral.jpg")' alt="" style="height: 200px">
                                            <h5>grey-ral</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/grey-ral.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Hemlock_Artique_34092_SV.jpg")' alt="" style="height: 200px">
                                            <h5>Hemlock_Artique_34092_SV</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Hemlock_Artique_34092_SV.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="picture">
                            <div class="col-md-3 col-xs-12">
                                <div class="portfolio-item-gallery">
                                    <div class="item-inner">
                                        <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/lacano-light-beige-4270.jpg")' alt="" style="height: 200px">
                                        <h5>lacano-light-beige-4270</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/lacano-light-beige-4270.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="picture">
                            <div class="col-md-3 col-xs-12">
                                <div class="portfolio-item-gallery">
                                    <div class="item-inner">
                                        <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Larami_Pine_34318_AT_.jpg")' alt="" style="height: 200px">
                                        <h5>Larami_Pine_34318_AT_</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Larami_Pine_34318_AT_.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="picture">
                            <div class="col-md-3 col-xs-12">
                                <div class="portfolio-item-gallery">
                                    <div class="item-inner">
                                        <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Makalo_Ash_K4341_RM.jpg")' alt="" style="height: 200px">
                                        <h5>Makalo_Ash_K4341_RM</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Makalo_Ash_K4341_RM.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="picture">
                            <div class="col-md-3 col-xs-12">
                                <div class="portfolio-item-gallery">
                                    <div class="item-inner">
                                        <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Makalo_Teak_K4342_RM.jpg")' alt="" style="height: 200px">
                                        <h5>Makalo_Teak_K4342_RM</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Makalo_Teak_K4342_RM.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="picture">
                            <div class="col-md-3 col-xs-12">
                                <div class="portfolio-item-gallery">
                                    <div class="item-inner">
                                        <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/marble-avion-37833.jpg")' alt="" style="height: 200px">
                                        <h5>marble-avion-37833</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/marble-avion-37833.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="picture">
                            <div class="col-md-3 col-xs-12">
                                <div class="portfolio-item-gallery">
                                    <div class="item-inner">
                                        <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/marble-nero-36127.jpg")' alt="" style="height: 200px">
                                        <h5>marble-nero-36127</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/marble-nero-36127.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/marble-umbria-37834.jpg")' alt="" style="height: 200px">
                                            <h5>marble-umbria-37834</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/marble-umbria-37834.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/marble-verton-37832.jpg")' alt="" style="height: 200px">
                                            <h5>marble-verton-37832</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/marble-verton-37832.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Marble_Mazy_38057_DC.jpg")' alt="" style="height: 200px">
                                            <h5>Marble_Mazy_38057_DC</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Marble_Mazy_38057_DC.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/metallic-silver.jpg")' alt="" style="height: 200px">
                                            <h5>metallic-silver</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/metallic-silver.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/mocca-37978.jpg")' alt="" style="height: 200px">
                                            <h5>mocca-37978</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/mocca-37978.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/moorland-oak-37717_AT.jpg")' alt="" style="height: 200px">
                                            <h5>moorland-oak-37717_AT</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/moorland-oak-37717_AT.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Natural_Stone_38356_DC.jpg")' alt="" style="height: 200px">
                                            <h5>Natural_Stone_38356_DC</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Natural_Stone_38356_DC.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/olive-37762.jpg")' alt="" style="height: 200px">
                                            <h5>olive-37762</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/olive-37762.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Oxide_34321_DP.jpg")' alt="" style="height: 200px">
                                            <h5>Oxide_34321_DP</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Oxide_34321_DP.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/polarno-bela-17005.jpg")' alt="" style="height: 200px">
                                            <h5>polarno-bela-17005</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/polarno-bela-17005.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/ravenna-grey-3952.jpg")' alt="" style="height: 200px">
                                            <h5>ravenna-grey-3952</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/ravenna-grey-3952.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/RP_WHITE_GLOSS_W4320HG2.jpg")' alt="" style="height: 200px">
                                            <h5>RP_WHITE_GLOSS_W4320HG2</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/RP_WHITE_GLOSS_W4320HG2.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/sahara-47981.jpg")' alt="" style="height: 200px">
                                            <h5>sahara-47981</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/sahara-47981.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Sanremo_Crystal_34217_RV.jpg")' alt="" style="height: 200px">
                                            <h5>Sanremo_Crystal_34217_RV</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Sanremo_Crystal_34217_RV.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Sanremo_Sand_34139_AW.jpg")' alt="" style="height: 200px">
                                            <h5>Sanremo_Sand_34139_AW</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Sanremo_Sand_34139_AW.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/Sichbeton_34014_MS_.jpg")' alt="" style="height: 200px">
                                            <h5>Sichbeton_34014_MS_</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/Sichbeton_34014_MS_.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/slate-3953.jpg")' alt="" style="height: 200px">
                                            <h5>slate-3953</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/slate-3953.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/sucupira-37544_AT.jpg")' alt="" style="height: 200px">
                                            <h5>sucupira-37544_AT</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/sucupira-37544_AT.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/tibur-37910.jpg")' alt="" style="height: 200px">
                                            <h5>tibur-37910</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/tibur-37910.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/tobacco-37979.jpg")' alt="" style="height: 200px">
                                            <h5>tobacco-37979</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/tobacco-37979.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/turmalin-3255.jpg")' alt="" style="height: 200px">
                                            <h5>turmalin-3255</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/turmalin-3255.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/wenge-gondou-37710_pl_03.jpg")' alt="" style="height: 200px">
                                            <h5>wenge-gondou-37710_pl_03</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/wenge-gondou-37710_pl_03.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/wenge-nairob-37648.jpg")' alt="" style="height: 200px">
                                            <h5>wenge-nairob-37648</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/wenge-nairob-37648.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="picture">
                                <div class="col-md-3 col-xs-12">
                                    <div class="portfolio-item-gallery">
                                        <div class="item-inner">
                                            <img class="img-responsive" src='@routes.Assets.versioned("images/radneploce/white-ral-9016-1106.jpg")' alt="" style="height: 200px">
                                            <h5>white-ral-9016-1106</h5>
                                            <div class="overlay">
                                                <a class="preview btn btn-danger" href='@routes.Assets.versioned("images/radneploce/white-ral-9016-1106.jpg")' rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div style="text-align: center" id='page_navigation' class="pagination-custom"></div>

                </div>
            </div>
        </div>
    </section>
    <input type='hidden' id='current_page' />
    <input type='hidden' id='show_per_page' />

    <script src='@routes.Assets.versioned("javascripts/paginacija8.js")'></script>

    <style>
    .pagination-custom a {
    font-family: "Lucida Sans","Lucida Grande",sans-serif;
    padding:9px;
    color: #204d74;


    }

    .pagination-custom a.current {
    font-weight:bold;
    text-decoration:underline;
    }

    .pagination-custom a:hover {
    background-color: #DEDEDE;
    color: #000;

    }
    </style>
}