@main("Studio | Enterijer"){

    <section id="main-slider" class="no-margin margin-top-slider">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2" ></li>
                <li data-target="#main-slider" data-slide-to="3" ></li>
                <li data-target="#main-slider" data-slide-to="4" ></li>
                <li data-target="#main-slider" data-slide-to="5" ></li>
                <li data-target="#main-slider" data-slide-to="6" ></li>
                <li data-target="#main-slider" data-slide-to="7" ></li>
                <li data-target="#main-slider" data-slide-to="8" ></li>
                <li data-target="#main-slider" data-slide-to="9" ></li>
                <li data-target="#main-slider" data-slide-to="10" ></li>
                <li data-target="#main-slider" data-slide-to="11" ></li>
                <li data-target="#main-slider" data-slide-to="12" ></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active" id="image10">
                </div><!--/.item-->
                <div class="item" id="image12">
                </div><!--/.item-->
                <div class="item" id="image11">
                </div><!--/.item-->
                <div class="item" id="image2">
                </div><!--/.item-->
                <div class="item" id="image9">
                </div><!--/.item-->
                <div class="item" id="image8">
                </div><!--/.item-->
                <div class="item" id="image7">
                </div><!--/.item-->
                <div class="item" id="image6">
                </div><!--/.item-->
                <div class="item" id="image5">
                </div><!--/.item-->
                <div class="item" id="image4">
                </div><!--/.item-->
                <div class="item" id="image3">
                </div><!--/.item-->
                <div class="item" id="image13">
                </div>
                <div class="item" id="image1">
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider"  data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section><!--/#main-slider-->


    <section id="recent-works">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Nasa ponuda</h3>
                    <p>Nudimo izradu visoko kvalitetnih kuhinja, americkih plakara, komoda, radnih i djecijih soba ... Vise slika mozete pogledati u nasoj galeriji </p>
                    <div class="btn-group">
                        <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                        <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive " src="@routes.Assets.versioned("images/portfolio/recent/kuhinja.jpg")" alt="">
                                                <h4>
                                                    Kuhinje
                                                </h4>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="@routes.Assets.versioned("images/full/kuhinja.jpg")" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive " src="@routes.Assets.versioned("images/portfolio/recent/amplakar.jpg")" alt="">
                                                <h4>
                                                    Americki plakari
                                                </h4>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger"  href="@routes.Assets.versioned("images/full/amplakari.jpg")" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive " src="@routes.Assets.versioned("images/portfolio/recent/komoda.jpg")" alt="">
                                                <h4>
                                                    Komode
                                                </h4>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="@routes.Assets.versioned("images/full/komoda.jpg")" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                            </div><!--/.item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive " src="@routes.Assets.versioned("images/portfolio/recent/djsoba.jpg")" alt="">
                                                <h4>
                                                    Djecije sobe
                                                </h4>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="@routes.Assets.versioned("images/full/djsoba.jpg")" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive " src="@routes.Assets.versioned("images/portfolio/recent/ormar.jpg")" alt="">
                                                <h4>
                                                    Ormari
                                                </h4>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="@routes.Assets.versioned("images/full/ormar.jpg")" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive " src="@routes.Assets.versioned("images/portfolio/recent/ukzid.jpg")" alt="">
                                                <h4>
                                                    Ukrasni zid
                                                </h4>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="@routes.Assets.versioned("images/full/ukzid.jpg")" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive " src="@routes.Assets.versioned("images/portfolio/recent/tapeta.jpg")" alt="">
                                                <h4>
                                                    Tapete
                                                </h4>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="@routes.Assets.versioned("images/full/tapeta.jpg")" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive " src="@routes.Assets.versioned("images/portfolio/recent/polzavino.jpg")" alt="">
                                                <h4>
                                                    Police za vino
                                                </h4>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="@routes.Assets.versioned("images/full/polzavino.jpg")" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive " src="@routes.Assets.versioned("images/portfolio/recent/poslprostor.jpg")" alt="">
                                                <h4>
                                                    Poslovni prostori
                                                </h4>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="@routes.Assets.versioned("images/full/poslprostor.jpg")" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.item-->
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </section><!--/#recent-works-->


}
