@main("Studio Enterijer"){
  <section style="min-height: 500px">
    <div class="container">
      <div class="row">
        <div class="col-md-12 margin-top10">
          <div class="col-md-3 col-sm-6 col-xs-8" >
            <h1 style="text-align: center">Blum</h1>
            <img class="img-responsive" src='@routes.Assets.versioned("images/okov/blum.png")'>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-8 ">
            <h1 style="text-align: center">Samet</h1>
            <img class="img-responsive" src='@routes.Assets.versioned("images/okov/samet.png")'>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-8">
            <h1 style="text-align: center">Lama</h1>
            <img class="img-responsive" src='@routes.Assets.versioned("images/okov/lama.png")'>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-8">
            <h1 style="text-align: center">GTV</h1>
            <img class="img-responsive" src='@routes.Assets.versioned("images/okov/gtv.png")'>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 margin-top20">
          <div style="text-align: center">
            <h2>Ugrađujemo okove po izboru kupca</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
}