@main("Studio Enterijer"){
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-top70" style="text-align: center">
                <h1>Studio Enterijer</h1>
            </div>

            <div class="margin-top20" style="margin-bottom: 175px">
                <h3>O nama</h3>

                <p>
                    Ukoliko želite da promijenite vaš postojeći životni prostor ili da kompletno uredite enterijer novog stana, kuće ili poslovnog prostora, Studio Enterijer je prava adresa na koju se trebate javiti.
                    </p>
                <p>
                    Nudimo izradu pločastog i masivnog namještaja po mjeri i želji kupca, ali  i usluge projektovanja, savjetovanja i opremanja enterijera.
                    </p>
                <p>
                    Naša ponuda obuhvata izradu cjelokupnog asortimana pločastog namještaja po želji i mjeri kupca. Namještaj je dostupan u svim bojama i dezenima, a radimo kuhinje, predsoblja, ormare sa kliznim vratima, američke plakare, komode za dnevni boravak, kupaonički namještaj itd.
                    </p>
                <p>
                    U ponudi imamo dekore svih najpoznatijih proizvođača iverice i koristimo visokokvalitetne okove za namještaj. Također radimo i namještaj od punog drveta po želji kupca.
                    Naš namještaj je kvalitetan, modernog dizajna i povoljnih cijena, o čemu svedoče i mnogobrojni klijenti koji nam se rado vraćaju. Kvalitet, namjena i upotrebivost su sastavni dio naše ponude.
                </p>
            </div>

        </div>
    </div>
}